.Kalkulator{
    background-color: grey;
    width: 400px;
    height: 500px;
    border-radius: 12px;
    border: 2px solid;
}


.layar{
    margin: 10px;
    padding: 0px;
    width: auto;
    height: 30%;
    background-color: black;
    border-radius: 10px;
    border: 1px solid;
    position: relative;
}

.tombol{
    margin: 0px;
    padding: 10px;
    display: grid;
    height: 60%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}

#layarAngka1{
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 30px;
    color: white;

}


.large{
    grid-column: span 2;
    font-size: 2em;
    background-color: orange;
}

.small{
    background-color: whitesmoke;
    height: auto;
    font-size: 1.5em;

}


#layarAngka2{
    position: absolute;
    right: 10px;
    color: white;
    font-size: 30px;
}
